<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="refresh" content="7; url='https://www.w3docs.com'" />

    <meta name="viewport" content="width=device-width, initial-sacale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>



    <title>Altair Schedule</title>
</head>


<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>
<h1>
    OK
</h1>
    <div class="grid">
        <span>Предмет:          </span>   <span th:text="${request.subject}"></span>
        <span>Домен:            </span>   <span th:text="${request.domain.domain}"></span>
        <span>Преподаватель:    </span>   <span th:text="${request.tutor.name}"></span>
        <span>Ассистент:        </span>   <span th:text="${request.assistant?.name}"></span>
        <span>Аудитория:        </span>   <span th:text="${request.classroom.classroom}"></span>
        <span>Дата/Время:       </span>   <span th:text="${request.dateTime}"></span>
        <span>Длительность:     </span>   <span th:text="${request.duration}"></span>
    </div>

<br><br>
<a href="/user/requestLesson">Добавить заявку</a><br>
<a href="/">Расписание</a>
</body>
</html>