<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>
<h1>
    Новое занятие
</h1>
<form class="grid" action="#" th:action="@{/admin/request}" method="post" th:object="${request}">
    <label for="entity">
        Предмет
    </label><select required
                    id="entity"
                    th:field="*{domain}">

    <option    text=""
               value="${domain}">
    </option>
</select>

    <label for="domain">
        Домен
    </label><select required
                    id="domain"
                    th:field="*{domain}">

    <option    th:each="domain : ${domains}"
               th:text="${domain.domain}"
               th:value="${domain}">
    </option>
</select>

    <input type="submit"/>
    <br><br>
    <a href="#" onclick="history.back();">Назад</a>
    <a href="/">Расписание</a>
</form>
</body>
</html>