<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org "><head>
    <meta charset="UTF-8">
    <title>Altair Schedule</title>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>

    <!-- Вывод заявок -->
    <table style="display: inline;" th:object="${requests}">
        <thead  th:if="*{!lessons.empty}">
        <tr><th>id</th><th>subject</th><th>domain</th><th>tutor</th><th>assistant</th>
            <th>classroom</th><th>date/time</th><th>duration</th></tr>
        </thead>
        <tbody>
        <tr th:if="*{lessons.empty}">
            <td colspan="2"> Нет заявок</td>
        </tr>

        <tr th:each="lesson, itemStat: *{lessons}" th:object="${lesson}">
            <td><span th:text="*{id}            "> id       </span></td>
            <td><span th:text="*{subject}       "> subject  </span></td>
            <td><span th:text="*{domain.domain}   "> domain   </span></td>
            <td><span th:text="*{tutor}         "> tutor    </span></td>
            <td><span th:text="*{assistant}     "> assistant </span></td>
            <td><span th:text="*{classroom}     "> classroom </span></td>
            <td><span th:text="*{dateTime}      "> date/time </span></td>
            <td><span th:text="*{duration}      "> duration  </span></td>
        </tr>
        </tbody>
    </table>

    <!-- Одобрение заявок -->
    <form style="display: inline;" th:if="${!requests.lessons.empty}"
          th:action="@{/admin/confirmRequests}" method="post" th:object="${requests}">
        <table style="display: inline;">
            <thead>
            <tr><th>accept</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request, itemStat: *{lessons}">
                <td><span>
                <input type="hidden" name="id"          th:field="*{lessons[__${itemStat.index}__].id}">
                <input type="hidden" name="subject"     th:field="*{lessons[__${itemStat.index}__].subject}">
                <input type="hidden" name="domain.domain" th:field="*{lessons[__${itemStat.index}__].domain}">
                <input type="hidden" name="tutor"       th:field="*{lessons[__${itemStat.index}__].tutor}">
                <input type="hidden" name="assistant"   th:field="*{lessons[__${itemStat.index}__].assistant}">
                <input type="hidden" name="classroom"   th:field="*{lessons[__${itemStat.index}__].classroom}">
                <input type="hidden" name="dateTime"    th:field="*{lessons[__${itemStat.index}__].dateTime}">
                <input type="hidden" name="duration"    th:field="*{lessons[__${itemStat.index}__].duration}">
                <input type="hidden" name="duration"    th:field="*{lessons[__${itemStat.index}__].isNotActive}">
                <input type="checkbox" name="form"      th:value="*{lessons[__${itemStat.index}__].id}"

                       th:field="*{lessons[__${itemStat.index}__].isAccepted}" />
            </span></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Утвердить"/>
    </form>

    <!-- Отклонение заявок -->
    <form style="display: inline;" th:if="${!requests.lessons.empty}"
          th:action="@{/admin/discardRequests}" method="post" th:object="${requests}">
        <table style="display: inline;">
            <thead>
            <tr><th>discard</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson, itemStat: *{lessons}">
                <td><span>
                <input type="hidden" name="id"          th:field="*{lessons[__${itemStat.index}__].id}">
                <input type="hidden" name="subject"     th:field="*{lessons[__${itemStat.index}__].subject}">
                <input type="hidden" name="domain.domain" th:field="*{lessons[__${itemStat.index}__].domain}">
                <input type="hidden" name="tutor"       th:field="*{lessons[__${itemStat.index}__].tutor}">
                <input type="hidden" name="assistant"   th:field="*{lessons[__${itemStat.index}__].assistant}">
                <input type="hidden" name="classroom"   th:field="*{lessons[__${itemStat.index}__].classroom}">
                <input type="hidden" name="dateTime"    th:field="*{lessons[__${itemStat.index}__].dateTime}">
                <input type="hidden" name="duration"    th:field="*{lessons[__${itemStat.index}__].duration}">
                <input type="checkbox" name="form"      th:value="*{lessons[__${itemStat.index}__].id}"

                       th:field="*{lessons[__${itemStat.index}__].isNotActive}" />
            </span></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Удалить"/>
    </form>
    <br/><br/>

    <!-- Вывод расписание -->
    <table style="display: inline;" th:object="${schedule}">
        <thead  th:if="*{!lessons.empty}">
        <tr><th>id</th><th>subject</th><th>domain</th><th>tutor</th><th>assistant</th>
            <th>classroom</th><th>date/time</th><th>duration</th></tr>
        </thead>
        <tbody>
        <tr th:if="*{lessons.empty}">
            <td colspan="2"> Нет записей </td>
        </tr>
        <tr th:each="lesson, itemStat: *{lessons}" th:object="${lesson}">
            <td><span th:text="*{id}            "> id </span></td>
            <td><span th:text="*{subject}       "> subject </span></td>
            <td><span th:text="*{domain.domain}   "> domain </span></td>
            <td><span th:text="*{tutor}         "> tutor </span></td>
            <td><span th:text="*{assistant}     "> assistant </span></td>
            <td><span th:text="*{classroom}     "> classroom </span></td>
            <td><span th:text="*{dateTime}      "> date/time </span></td>
            <td><span th:text="*{duration}      "> duration </span></td>
        </tr>
        </tbody>
    </table>

    <!-- Отмена занятия -->
    <form style="display: inline;" th:if="${!schedule.lessons.empty}"
          th:action="@{/admin/discardLessons}" method="post" th:object="${schedule}">
        <table style="display: inline;">
            <thead>
            <tr><th>discard</th></tr>
            </thead>
            <tbody>
            <tr th:each="lesson, itemStat: *{lessons}">
                <td><span>
                    <input type="hidden" name="id"          th:field="*{lessons[__${itemStat.index}__].id}">
                    <input type="hidden" name="subject"     th:field="*{lessons[__${itemStat.index}__].subject}">
                    <input type="hidden" name="domain.domain" th:field="*{lessons[__${itemStat.index}__].domain}">
                    <input type="hidden" name="tutor"       th:field="*{lessons[__${itemStat.index}__].tutor}">
                    <input type="hidden" name="assistant"   th:field="*{lessons[__${itemStat.index}__].assistant}">
                    <input type="hidden" name="classroom"   th:field="*{lessons[__${itemStat.index}__].classroom}">
                    <input type="hidden" name="dateTime"    th:field="*{lessons[__${itemStat.index}__].dateTime}">
                    <input type="hidden" name="duration"    th:field="*{lessons[__${itemStat.index}__].duration}">
                    <input type="checkbox" name="form"      th:value="*{lessons[__${itemStat.index}__].id}"

                           th:field="*{lessons[__${itemStat.index}__].isNotAccepted}" />
                </span></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Отменить">
    </form>


    <!-- Установка расписания ВУЗа -->
    <form th:action="@{/admin/setBaseSchedule}" method="post" enctype="multipart/form-data">
        <p>Установить базовое расписание</p>
        <!--
        <label for="mainSchedule_1">1 курс:</label>
            <input style="display: inline;" type="file" id="mainSchedule_1" th:field="*{schedules[0]}" required accept=".xlsx"><br>
        <label for="mainSchedule_2">2 курс:</label>
            <input style="display: inline;" type="file" id="mainSchedule_2" th:field="*{schedules[1]}" required accept=".xlsx"><br>
        <label for="mainSchedule_3">3 курс:</label>
            <input style="display: inline;" type="file" id="mainSchedule_3" th:field="*{schedules[2]}" required accept=".xlsx"><br>
        <label for="mainSchedule_4">4 курс:</label>
            <input style="display: inline;" type="file" id="mainSchedule_4" th:field="*{schedules[3]}" required accept=".xlsx"><br>-->
        <label for="baseSchedule">Выберите файлы(Ctrl+клик на файл): </label>
            <input style="display: inline;" type="file" name="baseSchedule"
                   id="baseSchedule" accept=".xlsx" multiple required>
        <input type="submit" value="Отправить"> <span style="color: red">Данное действие обнулит расписание!!!</span>
    </form>

    <br><br>

    <a href="/">Расписание</a>
</body>
</html>