<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>


<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body class="modal">
<h1>
    Пользователь с таким именем уже добавлен
</h1>

<a href="/">Расписание</a>
<a href="#" onclick="history.back();">Назад</a>
<a href="/admin/manageLessons">Панель управления</a>

</body>
</html>