<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org "><head>
    <meta charset="UTF-8">
    <title>Altair Schedule</title>
</head>


<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>
<table>
    <thead  th:if="${!lessons.empty}">
    <th>
        id
    </th>
    <th>
        subject
    </th>
    <th>
        domain
    </th>
    <th>
        tutor
    </th>
    <th>
        assistant
    </th>
    <th>
        classroom
    </th>
    <th>
        date
    </th>
    <th>
        time
    </th>
    <th>
        duration
    </th>
    </thead>
    <form class="grid" action="#" th:action="@{/confirmRequests}" method="post" th:object="${request}">
    <tbody>
    <tr th:if="${lessons.empty}">
        <td colspan="2"> Нет записей </td>
    </tr>
    <tr th:each="request : ${requests}">
        <td><span th:text="${request.id}"> id </span></td>
        <td><span th:text="${request.subject}"> subject </span></td>
        <td><span th:text="${request.domain.name}"> domain </span></td>
        <td><span th:text="${request.tutor}"> tutor </span></td>
        <td><span th:text="${request.assistant}"> assistant </span></td>
        <td><span th:text="${request.classroom}"> classroom </span></td>
        <td><span th:text="${request.date}"> date </span></td>
        <td><span th:text="${request.time}"> time </span></td>
        <td><span th:text="${request.duration}"> duration </span></td>
        <input type="checkbox" name="checked" value="${request.id}">
    </tr>
    </tbody>
        <br>
        <input type="submit"/>
    </form>
</table>

<a href="/">Расписание</a>
</body>
</html>