<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org "><head>
    <meta charset="UTF-8">
    <title>Altair Schedule</title>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>

    <!-- Вывод заявок -->
    <table style="display: inline;" th:object="${lessonService}">
        <thead  th:if="*{!requests.empty}">
        <tr><th>id</th><th>subject</th><th>domain</th><th>tutor</th><th>assistant</th>
            <th>classroom</th><th>date/time</th><th>duration</th></tr>
        </thead>
        <tbody>
        <tr th:if="*{requests.empty}">
            <td colspan="2"> Нет заявок</td>
        </tr>

        <tr th:each="request, itemStat: *{requests}" th:object="${request}">
            <td><span th:text="*{id}            "> id       </span></td>
            <td><span th:text="*{subject}       "> subject  </span></td>
            <td><span th:text="*{domain.name}   "> domain   </span></td>
            <td><span th:text="*{tutor}         "> tutor    </span></td>
            <td><span th:text="*{assistant}     "> assistant </span></td>
            <td><span th:text="*{classroom}     "> classroom </span></td>
            <td><span th:text="*{dateTime}      "> date/time </span></td>
            <td><span th:text="*{duration}      "> duration  </span></td>
        </tr>
        </tbody>
    </table>

    <!-- Одобрение заявок -->
    <form style="display: inline;" th:if="${!lessonService.requests.empty}"
          th:action="@{/confirmRequests}" method="post" th:object="${lessonService}">
        <table style="display: inline;">
            <thead>
            <tr><th>accept</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request, itemStat: *{requests}">
                <td><span>
                <input type="hidden" name="id"          th:field="*{requests[__${itemStat.index}__].id}">
                <input type="hidden" name="subject"     th:field="*{requests[__${itemStat.index}__].subject}">
                <input type="hidden" name="domain.name" th:field="*{requests[__${itemStat.index}__].domain}">
                <input type="hidden" name="tutor"       th:field="*{requests[__${itemStat.index}__].tutor}">
                <input type="hidden" name="assistant"   th:field="*{requests[__${itemStat.index}__].assistant}">
                <input type="hidden" name="classroom"   th:field="*{requests[__${itemStat.index}__].classroom}">
                <input type="hidden" name="dateTime"    th:field="*{requests[__${itemStat.index}__].dateTime}">
                <input type="hidden" name="duration"    th:field="*{requests[__${itemStat.index}__].duration}">
                <input type="hidden" name="duration"    th:field="*{requests[__${itemStat.index}__].isNotActive}">
                <input type="checkbox" name="form"      th:value="*{requests[__${itemStat.index}__].id}"

                       th:field="*{requests[__${itemStat.index}__].isAccepted}" />
            </span></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Утвердить"/>
    </form>

    <!-- Отклонение заявок -->
    <form style="display: inline;" th:if="${!lessonService.requests.empty}"
          th:action="@{/discardRequests}" method="post" th:object="${lessonService}">
        <table style="display: inline;">
            <thead>
            <tr><th>discard</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="request, itemStat: *{requests}">
                <td><span>
                <input type="hidden" name="id"          th:field="*{requests[__${itemStat.index}__].id}">
                <input type="hidden" name="subject"     th:field="*{requests[__${itemStat.index}__].subject}">
                <input type="hidden" name="domain.name" th:field="*{requests[__${itemStat.index}__].domain}">
                <input type="hidden" name="tutor"       th:field="*{requests[__${itemStat.index}__].tutor}">
                <input type="hidden" name="assistant"   th:field="*{requests[__${itemStat.index}__].assistant}">
                <input type="hidden" name="classroom"   th:field="*{requests[__${itemStat.index}__].classroom}">
                <input type="hidden" name="dateTime"    th:field="*{requests[__${itemStat.index}__].dateTime}">
                <input type="hidden" name="duration"    th:field="*{requests[__${itemStat.index}__].duration}">
                <input type="checkbox" name="form"      th:value="*{requests[__${itemStat.index}__].id}"

                       th:field="*{requests[__${itemStat.index}__].isNotActive}" />
            </span></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Удалить"/>
    </form>
    <br/><br/>

    <!-- Вывод расписание -->
    <table style="display: inline;" th:object="${lessonService}">
        <thead  th:if="*{!schedule.empty}">
        <tr><th>id</th><th>subject</th><th>domain</th><th>tutor</th><th>assistant</th>
            <th>classroom</th><th>date/time</th><th>duration</th></tr>
        </thead>
        <tbody>
        <tr th:if="*{schedule.empty}">
            <td colspan="2"> Нет записей </td>
        </tr>
        <tr th:each="lesson, itemStat: *{schedule}" th:object="${lesson}">
            <td><span th:text="*{id}            "> id </span></td>
            <td><span th:text="*{subject}       "> subject </span></td>
            <td><span th:text="*{domain.name}   "> domain </span></td>
            <td><span th:text="*{tutor}         "> tutor </span></td>
            <td><span th:text="*{assistant}     "> assistant </span></td>
            <td><span th:text="*{classroom}     "> classroom </span></td>
            <td><span th:text="*{dateTime}      "> date/time </span></td>
            <td><span th:text="*{duration}      "> duration </span></td>
        </tr>
        </tbody>
    </table>

    <!-- Отмена занятия -->
    <form style="display: inline;" th:if="${!lessonService.schedule.empty}"
          th:action="@{/discardLessons}" method="post" th:object="${lessonService}">
        <table style="display: inline;">
            <thead>
            <tr><th>discard</th></tr>
            </thead>
            <tbody>
            <tr th:each="lesson, itemStat: *{schedule}">
                <td><span>
                    <input type="hidden" name="id"          th:field="*{schedule[__${itemStat.index}__].id}">
                    <input type="hidden" name="subject"     th:field="*{schedule[__${itemStat.index}__].subject}">
                    <input type="hidden" name="domain.name" th:field="*{schedule[__${itemStat.index}__].domain}">
                    <input type="hidden" name="tutor"       th:field="*{schedule[__${itemStat.index}__].tutor}">
                    <input type="hidden" name="assistant"   th:field="*{schedule[__${itemStat.index}__].assistant}">
                    <input type="hidden" name="classroom"   th:field="*{schedule[__${itemStat.index}__].classroom}">
                    <input type="hidden" name="dateTime"    th:field="*{schedule[__${itemStat.index}__].dateTime}">
                    <input type="hidden" name="duration"    th:field="*{schedule[__${itemStat.index}__].duration}">
                    <input type="checkbox" name="form"      th:value="*{schedule[__${itemStat.index}__].id}"

                           th:field="*{schedule[__${itemStat.index}__].isNotAccepted}" />
                </span></td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Отменить">
    </form>

    <br><br>

    <a href="/">Расписание</a>
</body>
</html>