<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>
<body class="modal">
<h1>
    OK
</h1>
    <div class="grid">
        <span>Предмет:</span>   <span th:text="${lesson.subject}"></span>
        <span>Домен:</span>   <span th:text="${lesson.domain.name}"></span>
        <span>Преподаватель:</span>   <span th:text="${lesson.tutor}"></span>
        <span>Ассистент:</span>   <span th:text="${lesson.assistant}"></span>
        <span>Аудитория:</span>   <span th:text="${lesson.classroom}"></span>
        <span>Дата:</span>   <span th:text="${lesson.date}"></span>
        <span>Время:</span>   <span th:text="${lesson.time}"></span>
        <span>Длительность:</span>   <span th:text="${lesson.duration}"></span>
    </div>
    <a href="/">Список уроков</a>
</body>
</html>