<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body class="modal">
<h1>
    Новое занятие
</h1>
<form class="grid" action="#" th:action="@{/user/requestLesson}" method="post" th:object="${request}">
    <label for="subject">
        Предмет
    </label><input id="subject"
                   required
                   type="text"
                   th:field="*{subject}"/>


    <label for="domain">
        Домен
    </label><select required
                    id="domain"
                    th:field="*{domain}">

        <option    th:each="domain : ${domains}"
                   th:text="${domain.name}"
                   th:value="${domain}">
        </option>
    </select>


    <label for="tutor">
        Преподаватель
    </label><input id="tutor"
                   type="text"
                   required
                   th:field="*{tutor}"/>


    <label for="assistant">
        Ассистент
    </label><input id="assistant"
                   type="text"
                   th:field="*{assistant}"/>


    <label for="classroom">
        Аудитория
    </label> <input id="classroom"
                    type="text"
                    required
                    th:field="*{classroom}"/>


    <label for="dateTime">
        Время/Дата
    </label> <input id="dateTime"
                    type="datetime-local"
                    required
                    th:field="*{dateTime}"
                    th:value="${minTime}"
                    th:min="${minTime}"
                    th:max="${maxTime}">


    <label for="duration">
        Длительность(45 мин.)
    </label> <input id="duration"
                    required
                    type="number"
                    min="1"
                    max="12"
                    value="1"
                    th:field="*{duration}"/>

    <input type="submit"/>
<br><br>
    <a href="/">Расписание</a>
</form>
</body>
</html>