<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body class="modal">
<h1>
    Новое занятие
</h1>
<form class="grid" action="#" th:action="@{/requestLesson}" method="post" th:object="${request}">
    <label>
        Предмет
    </label><input type="text" th:field="*{subject}"/>
    <label th:for="domain">
        Домен
    </label>
    <select th:field="*{domain}">
        <option th:each="domain : ${domains}"
                th:text="${domain.name}"
                th:value="${domain}"></option>
    </select>
    <label>
        Преподаватель
    </label><input type="text" required th:field="*{tutor}"/>
    <label>
        Ассистент
    </label><input type="text" required th:field="*{assistant}"/>
    <label>
        Аудитория
    </label> <input type="text" required th:field="*{classroom}"/>
    <label>
        Дата
    </label> <input type="date" th:min="${now}"  max="9999-01-01" th:value="${now}" required th:field="*{date}"/>
    <label>
        Время
    </label> <input type="time" required th:field="*{time}"/>
    <label>
        Длительность
    </label> <input type="number" min="1" value="1" th:field="*{duration}"/>

    <input type="submit"/>
<br><br>
    <a href="/">Список уроков</a>
</form>
</body>
</html>