<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org "><head>
    <meta charset="UTF-8">
    <title>Altair Schedule</title>

</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>
<table>
    <thead  th:if="${!lessons.empty}">
    <tr><th>id</th><th>предмет</th><th>домент</th><th>преподаватель</th><th>ассистент</th>
        <th>аудитория</th><th>дата/время</th><th>продолжительность</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${lessons.empty}">
        <td colspan="2"> Нет записей </td>
    </tr>
    <tr th:each="lesson : ${lessons}" th:object="${lesson}">
        <td><span th:text="*{id}">                  id                  </span></td>
        <td><span th:text="*{subject}">             предмет             </span></td>
        <td><span th:text="*{domain.domain}">       домен               </span></td>
        <td><span th:text="*{tutor.name}">          преподаватель       </span></td>
        <td><span th:text="*{assistant?.name}">     ассистент           </span></td>
        <td><span th:text="*{classroom.classroom}"> аудитория           </span></td>
        <td><span th:text="*{dateTime}">            дата/время          </span></td>
        <td><span th:text="*{duration}">            продолжительность   </span></td>
    </tr>
    </tbody>
</table>

<br><br>
    <a href="/user/requestLesson">Подать заявку</a>
    <a href="/admin/manageLessons">Панель управления</a>

</body>
</html>