<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org "><head>
    <meta charset="UTF-8">
    <title>Altair Schedule</title>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body>
    <table>
        <thead  th:if="${!lessons.empty}">
            <th>
                id
            </th>
            <th>
                subject
            </th>
            <th>
                domain
            </th>
            <th>
                tutor
            </th>
            <th>
                assistant
            </th>
            <th>
                classroom
            </th>
            <th>
                date
            </th>
            <th>
                time
            </th>
            <th>
                duration
            </th>
        </thead>
        <tbody>
            <tr th:if="${lessons.empty}">
                <td colspan="2"> Нет записей </td>
            </tr>
            <tr th:each="lesson : ${lessons}">
                <td><span th:text="*{id}"> id </span></td>
                <td><span th:text="*{subject}"> subject </span></td>
                <td><span th:text="*{name}"> domain </span></td>
                <td><span th:text="*{tutor}"> tutor </span></td>
                <td><span th:text="*{assistant}"> assistant </span></td>
                <td><span th:text="*{classroom}"> classroom </span></td>
                <td><span th:text="*{date}"> date </span></td>
                <td><span th:text="*{time}"> time </span></td>
                <td><span th:text="*{duration}"> duration </span></td>
            </tr>
        </tbody>
    </table>
<br><br>
    <a href="/requestLesson">Подать заявку</a>
</body>
</html>