<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body class="modal">
<h1>
    Новый ассистент
</h1>
<form class="grid" action="#" th:action="@{/admin/addAssistant}" method="post" th:object="${assistant}">
    <label for="name">
        Имя
    </label><input id="name"
                   required
                   type="text"
                   th:field="*{name}"/>


    <input type="submit"/>
    <br><br>
    <a href="/">Расписание</a>
</form>
</body>
</html>