<!DOCTYPE>

<html lang="ru" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Altair Schedule</title>
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<header>
    <a style="text-align: right" href="/login">Login</a><br>
    <a style="text-align: right" href="/logout">Logout</a>
</header>
<body class="modal">
<h1>
    Новая аудитория
</h1>
<form class="grid" action="#" th:action="@{/admin/addTutor}" method="post" th:object="${classroom}">
    <label for="classroom">
        Имя
    </label><input id="classroom"
                   required
                   type="text"
                   th:field="*{classroom}"/>


    <label for="domain">
        Домен(Ctrl+выбор)
    </label><select required
                    multiple
                    id="domain"
                    th:field="*{domains}">

    <option    th:each="domain : ${domains}"
               th:text="${domain.domain}"
               th:value="${domain}">
    </option>
</select>



    <input type="submit"/>
    <br><br>
    <a href="/">Расписание</a>
</form>
</body>
</html>