.form-container{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px;
}
.table td {
    text-align: center;
}
.table th {
    text-align: center;
}

.table tr{
    padding: 0;
    line-height: 2em;
}